<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1 th:text="${message}"></h1>
    <img th:src="${src.src1}" th:width="200px">

    </br>
    <img th:src="${src.src2}" th:width="200px"/>

    <table border="1">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>age</th>
        </tr>
        <tr>
            <th th:text="${user.id}">id</th>
            <th th:text="${user.name}">id</th>
            <th th:text="${user.age}">id</th>
        </tr>
    </table>

</body>
</html>